:root {
    --green-color: #9FE2BF; 
    --white-color: #FFFFFF;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    background: #9FE2BF;
    margin: 0;
    font-family: "Source-Sans-Pro";
}

button {

    padding: 24px 24px;
    border-radius: 50px;
    color: #9FE2BF;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.quiz-part {
    padding: 10px 50px;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.quiz-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}